@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* PENGEN NIKAH STYLING */
:root {
  --font-semibold: 500;
  --font-bold: 600;

  --white: #efefef;
  --light-green: #b6cbbf;
  --leaf-green: #639377;
  --main-green: #256c42;
  --dark-green: #1a4a2e;
  --black-green: #0e2a19;
}

html,
body {
  background: var(--light-green);
  min-height: 100vh;
  color: var(--black-green);
}

/* COLORING CLASSNAME HELPER */
.color-green {
  color: var(--main-green);
}

.color-green-lightest {
  color: var(--light-green);
}

.color-green-light {
  color: var(--leaf-green);
}

.color-green-dark {
  color: var(--dark-green);
}

.color-green-darken {
  color: var(--black-green);
}
